body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.biografia-texto{font-family: 'Literata', serif;}
.w3-row-padding img {margin-bottom: 12px}
.w3-theme-d1 {color:#fff !important; background-color:#558dd1 !important}
.w3-theme-l5 {color:#000 !important; background-color:#fbfbfb !important}
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
.centrado{
    display:block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }